.page-body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
}

.page-header {
    padding-top: 31.5px;
    padding-bottom: 31.5px;
}

.navbar {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.menu-list {
    display: inline;
    padding-left: 0;
    margin: 0;
}
    
.menu-list-item {
    display: inline;
    vertical-align: top;
    margin-right: 72px;
}

.li-3 {
    margin-right: 50px;
}

.li-4 {
    margin-right: 0;
}

.menu-list-item-link {
    color: #ff0000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.main-image {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 48px;
}

.main-title {
    width: 774px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 38px;
    color: #373737;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}

.main-text {
    max-width: 1145px;
    width: 1145px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 28px;
    color: #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
}

.main-button {
    display: block;
    width: 191px;
    padding: 18px 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    margin-bottom: 82px;
    border-radius: 4px;
    background-color: #ff0000;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
}

.page-footer {
    width: 1070px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 29px;
}

.footer-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-align: right;
    font-style: normal;
    margin: 0;
}